#language-selection button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#intro .page-header {
    margin-top: 0px;
}

#section-selection {
    margin-bottom: 20px;
    margin-top: 20px;
}

#map {
    background-color: rgb(229, 227, 223);
    height: 600px;
}

#info-panel {
    }
    #info-panel p {
        color: #777777;
        font-size: 120%;
    }
    #info-panel table th, #info-panel table td {
        text-align: right;
        }
        #info-panel table th:first-child, #info-panel table td:first-child {
            text-align: left;
        }
    #info-panel table .top-header th {
        text-align: center;
    }
    #info-panel .selected {
        display: none;
    }

#footer {
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}
